.patient-protal .noo-main-menu .navbar-nav li.current-menu-item > a, 
.patient-protal .noo-main-menu .navbar-nav li:hover > a,
.patient-protal .noo-nav-header4 .noo-nav-wrap .noo-main-menu .navbar-nav > li:hover > a,
.patient-protal .noo-main-menu .navbar-nav li > .sub-menu li a:hover {
	color: #ff514a;
}
.patient-protal .noo-onepage .noo-wrap-menu .noo-main-menu .navbar-nav li.current-menu-item > a, 
.patient-protal .noo-onepage .noo-wrap-menu .noo-main-menu .navbar-nav li:hover > a, 
.patient-protal .noo-onepage .noo-wrap-menu .noo-main-menu .navbar-nav li.current > a,
.header-2 .noo-wrap-menu .noo-main-menu .navbar-nav > li.current-menu-item > a, 
.header-2 .noo-wrap-menu .noo-main-menu .navbar-nav > li:hover > a,
.patient-protal .header-2 .noo-wrap-menu .noo-main-menu .navbar-nav > li:hover > a {
	color: #f3e200;
}
.patient-protal .header-2.header-style2 .noo-main-menu .navbar-nav li > .sub-menu li a:hover,
.patient-protal .noo-left-menu .cate-name, 
.patient-protal .noo-left-menu .menu-categories li a:hover,
.patient-protal .widget_noo_services ul li a:hover,
.patient-protal .noo-custom-menu ul li a:hover {
	color: #f3e200;
}
.patient-protal .noo-onepage .noo-wrap-menu .noo-main-menu .navbar-nav li.current-menu-item > a:before, 
.patient-protal .noo-onepage .noo-wrap-menu .noo-main-menu .navbar-nav li:hover > a:before, 
.patient-protal .noo-onepage .noo-wrap-menu .noo-main-menu .navbar-nav li.current > a:before,
.header-2 .noo-wrap-menu .noo-main-menu .navbar-nav > li.current-menu-item > a:before, 
.header-2 .noo-wrap-menu .noo-main-menu .navbar-nav > li:hover > a:before,
.patient-protal .header-2 .noo-wrap-menu .noo-main-menu .navbar-nav > li:hover > a:before {
	background: #f3e200;
}
.patient-protal .noo-main-menu .navbar-nav li > a:before {
	background: #f3e200;
}
.patient-protal .noo-main-menu .navbar-nav li#nav-menu-item-simple-cart > a span em,
.patient-protal .noo-onepage .noo-wrap-menu .noo-main-menu .navbar-nav li#nav-menu-item-simple-cart > a span em {
	color: #000;
    background: #f3e200;
}
.patient-protal .noo-main-menu .navbar-nav li#nav-menu-item-simple-cart > a:hover,
.patient-protal .noo-onepage .noo-wrap-menu .noo-main-menu .navbar-nav li#nav-menu-item-simple-cart > a:hover,
.header-4 .noo-nav-header4 .noo-nav-wrap .noo-main-menu .navbar-nav li#nav-menu-item-simple-cart > a:hover {
	color: #f3e200;
}
.book-form .book-content-style2 input[type="submit"],
.patient-protal .wpcf7-form input[type="submit"] {
	background: #ff514a;
}
.book-form .book-content-style2 input[type="submit"]:hover,
.patient-protal .wpcf7-form input[type="submit"]:hover {
	background: #f3e200;
}
.patient-protal .ui-datepicker .ui-datepicker-header, 
.patient-protal .ui-widget-header, 
.patient-protal .ui-datepicker-calendar tr td:hover {
	background: #ff514a;
}
.patient-protal .book-form {
	background: #f3e200;
}
.patient-protal .noo-title {
	color: #f3e200;
}
.patient-protal .project-item .project-inner .project-bk:before {
	background: rgba(255,81,74,0.80);
}
.patient-protal ul.owl-theme .owl-controls .owl-page.active span, 
.patient-protal ul.owl-theme .owl-controls .owl-page:hover span {
	background: #ff514a;
}
.patient-protal ul.owl-theme .owl-controls .owl-page.active:before, 
.patient-protal ul.owl-theme .owl-controls .owl-page:hover:before,
.patient-protal ul.owl-theme .owl-controls .owl-page.active:after, 
.patient-protal ul.owl-theme .owl-controls .owl-page:hover:after,
.patient-protal ul.owl-theme .owl-controls .owl-page.active span:before, 
.patient-protal ul.owl-theme .owl-controls .owl-page:hover span:before,
.patient-protal ul.owl-theme .owl-controls .owl-page.active span:after, 
.patient-protal ul.owl-theme .owl-controls .owl-page:hover span:after,
.patient-protal ul.owl-theme .owl-controls .owl-page span {
	background: rgba(255,81,74,0.60);
}
.patient-protal ul.owl-theme .owl-controls .owl-page.active, 
.patient-protal ul.owl-theme .owl-controls .owl-page:hover {
	border-color: rgba(255,81,74,0.60);
}
.patient-protal .money-icon,
.patient-protal .money-icon:after {
    background: #ff514a;
}
.patient-protal .money-icon:before {
	border-left-color: #ff514a;
}
.patient-protal .money-icon span:before,
.patient-protal .money-icon span:after {
    border-left-color: #ff827d;
}
.patient-protal .money-icon span:after {
	border-right-color: #ff827d;
}
.patient-protal .money-icon span {
	background: #ff827d;
}
.patient-protal .money-content .money-title {
	color: #000;
}
.patient-protal .noo-sh-button span {
	border-color: #ff514a;
    color: #ff514a;
}
.patient-protal .noo-sh-button,
.patient-protal a:hover, 
.patient-protal a:focus {
	color: #ff514a;
}
.patient-protal .noo_testimonial_one li .noo_testimonial_name,
.patient-protal .noo_testimonial_one li .noo_testimonial_position {
	color: #000;
}
.patient-protal .noo_testimonial_one.owl-theme .owl-controls .owl-page span {
	background: rgba(255,81,74,0.60);
}
.patient-protal .noo_testimonial_one.owl-theme .owl-controls .owl-page.active span, 
.patient-protal .noo_testimonial_one.owl-theme .owl-controls .owl-page:hover span {
    background: #ff514a;
}
.patient-protal .noo_testimonial_one.owl-theme .owl-controls .owl-page.active:after, 
.patient-protal .noo_testimonial_one.owl-theme .owl-controls .owl-page:hover:after,
.patient-protal .noo_testimonial_one.owl-theme .owl-controls .owl-page.active:before, 
.patient-protal .noo_testimonial_one.owl-theme .owl-controls .owl-page:hover:before,
.patient-protal .noo_testimonial_one.owl-theme .owl-controls .owl-page.active span:before, 
.patient-protal .noo_testimonial_one.owl-theme .owl-controls .owl-page:hover span:before,
.patient-protal .noo_testimonial_one.owl-theme .owl-controls .owl-page.active span:after, 
.patient-protal .noo_testimonial_one.owl-theme .owl-controls .owl-page:hover span:after {
	background: rgba(255,81,74,0.60);
}
.patient-protal .noo_testimonial_one.owl-theme .owl-controls .owl-page.active, 
.patient-protal .noo_testimonial_one.owl-theme .owl-controls .owl-page:hover {
    border-color: rgba(255,81,74,0.60);
}
.patient-protal .noo-list a:hover,
.patient-protal .blog-item-default .blog-sh-right .date {
	color: #ff514a;
}
.patient-protal .blog-item-default:before {
    background: #f3e200;
}
.patient-protal .widget_noo_infomation .noo-infomation-attr li span.fa,
.patient-protal .widget_noo_infomation .noo-info-footer i {
	color: #ff514a;
}
.patient-protal .recent-tweets li .twitter_user .twitter_username,
.patient-protal .social-all a:hover {
	color: #f3e200;
}
.patient-protal .noo-newsltter-form button {
	background: #ff514a;
}
.patient-protal .noo-newsltter-form button:hover {
	background: #f3e200;
}
.patient-protal .social-all {
    background: #ff514a;
}
.patient-protal .whychooseus.choose_style3 .choose-icon {
	background: #ff514a;
}
.patient-protal .whychooseus.choose_style3 .choose-icon:before {
	border-bottom-color: #ff514a;
}
.patient-protal .whychooseus.choose_style3 .choose-icon:after {
	border-top-color: #ff514a;
}
.patient-protal .whychooseus.choose_style3 .choose-icon .background-line:before,
.patient-protal .whychooseus.choose_style3 .choose-icon .background-line:after,
.patient-protal .whychooseus.choose_style3 .choose-icon .background-line .background-line-bottom:before,
.patient-protal .whychooseus.choose_style3 .choose-icon .background-line .background-line-bottom:after {
	background: #ff827d;
}
.patient-protal .whychooseus.choose_style3 .choose-icon .background-line {
	border-left-color: #ff827d;
	border-right-color: #ff827d;
}
.patient-protal .whychooseus.choose_style3:hover .choose-icon {
	background: rgba(243,226,0,0.30);
}
.patient-protal .whychooseus.choose_style3:hover .choose-icon:before {
    border-bottom-color: rgba(243,226,0,0.30);
}
.patient-protal .whychooseus.choose_style3:hover .choose-icon:after {
	border-top-color: rgba(243,226,0,0.30);
}
.patient-protal .whychooseus.choose_style3:hover .choose-icon .background-line {
    background: #f3e200;
}
.patient-protal .whychooseus.choose_style3:hover .choose-icon .background-line:before {
	border-bottom-color: #f3e200;
}
.patient-protal .whychooseus.choose_style3:hover .choose-icon .background-line:after {
	border-top-color: #f3e200;
}
.patient-protal .masonry-filters-project .project-filters li a.selected, 
.patient-protal .masonry-filters-project .project-filters li a:hover {
	color: #ff514a;
}
.patient-protal .masonry-filters-project .project-filters li a.selected:before, 
.patient-protal .masonry-filters-project .project-filters li a:hover:before {
	background: #f3e200;
}
.patient-protal .your-money2 .money-right .noo-button:hover {
	background: #f3e200;
}
.product-tab .nav-tabs>li.active>a, 
.product-tab .nav-tabs>li.active>a:hover, 
.product-tab .nav-tabs>li>a:hover {
	color: #f3e200;
}
.product-tab .nav-tabs>li.active>a:before, 
.product-tab .nav-tabs>li>a:hover:before {
	background: #ff514a;
}
.patient-protal .woo-thumbnail .bk {
	background: rgba(255,81,74,0.80);
}
.noo-product-inner:hover .woo-thumbnail .noo-product-meta .rating .star-rating:before,
.woo-thumbnail .noo-product-meta .rating {
	color: #f3e200;
}
.patient-protal .woo-thumbnail .noo-product-meta .entry-cart-meta a.add_to_cart_button:hover, .patient-protal .woo-thumbnail .noo-product-meta .entry-cart-meta .yith-wcwl-wishlistexistsbrowse a:hover, .patient-protal .woo-thumbnail .noo-product-meta .entry-cart-meta .yith-wcwl-wishlistaddedbrowse a:hover, .patient-protal .woo-thumbnail .noo-product-meta .entry-cart-meta .yith-wcwl-add-to-wishlist .add_to_wishlist:hover, .patient-protal .cart-collaterals .cart_totals .car_totals_wrap .wc-proceed-to-checkout a:hover {
	background: #f3e200;
}
.patient-protal .noo_testimonial_two li .testimonial_wrap .testimonial-content .noo-quote-icon {
	color: #f3e200;
}
.patient-protal .noo_testimonial_two li:before {
	background: #f3e200;
}
.patient-protal .blog-title.style2 button:hover i {
	color: #f3e200;
}
.patient-protal .our-blog-item .blog-item .blog-hover .sh-entry-blog2 .cat a,
.patient-protal .our-blog-item .blog-item .sh-entry-blog .cat a {
	color: #ff514a;
}
.patient-protal .our-blog-item .blog-item:before {
	background: #f3e200;
}
.patient-protal .noo-information i {
	color: #ff514a;
}
.patient-protal .onepage-footer .widget_noo_infomation_onpage .onepage-social a:hover,
.patient-protal .onepage-footer .widget_noo_infomation_onpage .noo-one-footer i {
	color: #f3e200;
}
.patient-protal .noo-infomation-cart ul li.phone i, 
.patient-protal .noo-infomation-cart ul li.noo-menu-item-cart .cart-button .cart-item .icon-shopping {
	color: #f3e200;
}
.patient-protal .header-5 .noo-wrap-menu {
	background: #ff514a;
}
.patient-protal .header-5 .noo-wrap-menu .icon-search2 {
	background: #ff827d;
}
.patient-protal .search-header5 form input[type='submit'] {
	background: #ff514a;
}
.patient-protal .noo-page-heading .page-title {
	text-shadow: 3px 0 #f3e200;
    -moz-text-shadow: 3px 0 #f3e200;
    -webkit-text-shadow: 3px 0 #f3e200;
    -o-text-shadow: 3px 0 #f3e200;
    color: #fff;
}
.patient-protal .noo-page-heading:before {
	background: rgba(255,81,74,0.80);
}
.patient-protal .noo-portfolio-list .noo-list-content .noo-cat a {
	color: #ff514a;
}
.patient-protal .pagination .page-numbers.current, 
.patient-protal .pagination a.page-numbers:hover {
	background: #ff514a;
    border-color: #ff514a;
}
.patient-protal .noo-sidebar-wrap .widget_search,
.patient-protal .noo-sidebar-wrap .widget-title {
	background: #f3e200;
}
.patient-protal .noo-sidebar-wrap .widget_categories ul li a:hover, 
.patient-protal .noo-sidebar-wrap .widget_recent_entries ul li a:hover,
.patient-protal .widget_noo_best_services .best_services li h4 a:hover {
	color: #ff514a;
}
.patient-protal .single-author-project .author-description .project-icon {
	color: #f3e200;
}
.patient-protal .single-author-project .author-description strong a {
	color: #ff514a;
}
.patient-protal .project-title:before {
	background: #f3e200;
}
.patient-protal .project-sidebar-title {
	background: #f3e200;
	color: #000;
}
.patient-protal .services-cat-title {
	background: rgba(243,226,0,0.70);
}
.patient-protal .services-cat-title .cat-title-first {
	background: rgba(243,226,0,0.50);
}
.patient-protal .services-cat-title .cat-title-first:before {
	border-right-color: rgba(243,226,0,0.50);
}
.patient-protal .services-cat-title .cat-title-first:after {
	border-left-color: rgba(243,226,0,0.50);
}
.patient-protal .services-cat-title .cat-title-first .cat-title-last {
	background: #f3e200;
}
.patient-protal .services-cat-title .cat-title-first .cat-title-last:before {
	border-right-color: #f3e200;
}
.patient-protal .services-cat-title .cat-title-first .cat-title-last:after {
	border-left-color: #f3e200;
}
.patient-protal .services-content .services-entry {
	background: rgba(255, 255, 255, 0.8);
}
.patient-protal .services-content .services-entry a {
	background: #ff514a;
}
.patient-protal .services-content .services-entry a:hover {
	background: #f3e200;
	color: #fff;
}
.patient-protal .services-content .services-entry strong {
	color: #ff514a;
}
.patient-protal .services-content .services-entry p {
	color: #696969;
}
.patient-protal .masonry-filters-services .services-filters li a.selected, 
.patient-protal .masonry-filters-services .services-filters li a:hover {
	color: #f3e200;
}
.patient-protal .masonry-filters-services .services-filters li a.selected:before, 
.patient-protal .masonry-filters-services .services-filters li a:hover:before {
    background: #ff514a;
}
.patient-protal .noo-services-item h3 a {
	color: #ff514a;
}
.noo-service-header {
	background: #f3e200;
}
.patient-protal .noo_testimonial_three li .testimonial-header .testimonial-name .noo_testimonial_name {
	color: #ff514a;
}
.patient-protal .noo_testimonial_three li:before {
	background: #f3e200;
}
.patient-protal .clients .next-client:hover, 
.patient-protal .clients .prev-client:hover {
	background: #ff514a;
}
.patient-protal .noo_team li .noo-team-item:hover .noo-team-info h4 {
	color: #ff514a;
}
.patient-protal .noo_team li .noo-team-item .noo-team-info:before {
	background: #f3e200;
}
.patient-protal .team-title .noo-team-control button:hover i {
	color: #f3e200;
}
.patient-protal .noo-team-content .team-contact ul li i {
	color: #ff514a;
}
.patient-protal .noo-team-content .team-title:before {
	background: #f3e200;
}
.patient-protal .noo_pricing .pricing_header:before {
	border-top-color: #f3e200;
}
.patient-protal .noo_pricing .pricing_header {
	background: #f3e200;
}
.patient-protal .noo_pricing .pricing_footer a {
	background: #ff514a;
}
.patient-protal .noo_pricing .pricing_footer a:hover {
	background: #f3e200;
	color: #fff;
}
.patient-protal .book-creative .book-form2 input[type="submit"] {
	background: #ff514a;
}
.book-creative .book-form2 input[type="submit"]:hover {
	background: #f3e200;
}
.patient-protal .author-avatar h5:before {
	background: #ff514a;
}
.patient-protal .hentry .entry-content-wrap .entry-content .cat a,
.patient-protal .single-cat a, 
.patient-protal .single-meta .single-meta-right a:hover {
	color: #ff514a;
}
.patient-protal blockquote:before {
	color: #ff514a;
}
#comments .comments-title:before {
	background: #f3e200;
}
.patient-protal #comments ol li .comment-wrap .comment-block .comment-header .comment-author, 
.patient-protal #comments ul li .comment-wrap .comment-block .comment-header .comment-author {
	color: #ff514a;
}
.patient-protal #comments #respond .comment-reply-title:before, 
.patient-protal #comments #respond .form-submit input {
    background: #f3e200;
}
.patient-protal #comments #respond .comment-reply-title:before, 
.patient-protal #comments #respond .form-submit input {
	background: #ff514a;
}
.patient-protal #comments #respond .form-submit input:hover {
	background: #f3e200;
}
.patient-protal .noo-product-footer .price span {
	color: #f3e200;
}
.patient-protal .widget_price_filter .ui-slider .ui-slider-range, 
.patient-protal .widget_price_filter .price_slider_amount .button {
    background: #ff514a;
}
.commerce .widget_price_filter .price_slider_amount .button:hover {
	background: #f3e200;
}
.patient-protal .commerce ul.product_list_widget li .amount {
	color: #ff514a;
}
.patient-protal .amount {
	color: #f3e200;
}
.single-product div.product div.summary .cart .button,
.single-product div.product div.summary .yith-wcwl-add-to-wishlist .add_to_wishlist,
.patient-protal table.wishlist_table td.product-add-to-cart a,
.patient-protal .commerce .cart input.button,
.patient-protal .cart-collaterals .cart_totals .car_totals_wrap .wc-proceed-to-checkout a,
.patient-protal form.login .button,
.commerce-account input.button {
	background: #ff514a;
}
.single-product div.product div.summary .cart .button:hover,
.single-product div.product div.summary .yith-wcwl-add-to-wishlist .add_to_wishlist:hover,
.commerce table.wishlist_table td.product-add-to-cart a:hover,
.patient-protal .commerce .cart input.button:hover,
.patient-protal .cart-collaterals .cart_totals .car_totals_wrap .wc-proceed-to-checkout a:hover,
.patient-protal form.login .button:hover,
.commerce-account input.button:hover, 
.commerce-account input.button:focus {
	background: #f3e200;
}
.patient-protal .noo-infomation-cart ul li.noo-menu-item-cart .cart-button .cart-item .count {
	background: #ff514a;
}
.patient-protal .noo-portfolio-list .noo-list-content .read-more:hover,
.patient-protal .noo-checklist li:before,
.patient-protal .single-navigation span:hover a, 
.patient-protal .single-navigation span:hover i {
	color: #ff514a;
}
.patient-protal .blog-item-default .blog-sh-right .default-blog-footer a:hover, 
.patient-protal .our-blog-item .blog-item .blog-hover .entry-sh-footer a:hover:hover {
	color: #ff514a;
}
.patient-protal .noo_testimonial_two li .testimonial_wrap .testimonial-content .testi-meta .noo_testimonial_name {
    color: #000;
}