<div class="sidebarsection">
    <div class="headerimg">MY Journey</div>

    <div class="single">
        <label><img src="~/Content/assets/images/icn_program.png" alt="">Program</label>
        <ul>
            <li><a href="~/journey/program/blood-work">Blood Work</a></li>
            <li><a href="/journey/program/nutrition-counseling">Nutrition Counseling</a></li>
            <li><a href="/journey/program/support-group">Support Group (2 mandatory)</a></li>
        </ul>
    </div>
    <div class="single">
        <label><img src="~/Content/assets/images/icn_pulmonary.png" alt="">Pulmonary</label>
        <ul>
            <li><a href="~/journey/pulmonary/pulmonary-evaluation">Pulmonary Evaluation</a></li>
            <li><a href="~/journey/pulmonary/sleep-study">Sleep study</a></li>
            <li><a href="~/journey/pulmonary/pulmonary-function-test">Pulmonary function test</a></li>
            <li><a href="~/journey/pulmonary/chest-x-ray">Chest x-ray</a></li>
            <li><a href="~/journey/pulmonary/pulmonologist-clearance">Pulmonologist Clearance</a></li>
        </ul>

    </div>
    <div class="single">
        <label><img src="~/Content/assets/images/icn_gastrointestinal.png" alt="">Gastrointestinal</label>
        <ul>
            <li><a href="~/pulmonary/Index">Pulmonary Evaluation</a></li>
            <li><a href="~/pulmonary/Sleep">Sleep study</a></li>
            <li><a href="#">Pulmonary function test</a></li>
            <li><a href="~/pulmonary/chestxray">Chest x-ray</a></li>
            <li><a href="#">Pulmonologist Clearance</a></li>
        </ul>
    </div>
    <div class="single">
        <label><img src="~/Content/assets/images/icn_cardiology.png" alt="">Pulmonary</label>
        <ul>
            <li id="cardiologyli"><a href="~/cardiology/Index" ng-click="UpdateUserProgress('cardiology')">Cardiology Evalution</a></li>
            <li id="upperli"><a href="~/UpperEndoscopy/Index" ng-click="UpdateUserProgress('upper')">Upper Endoscopy</a></li>
            <li id="psycologicalli"><a href="~/PsycologicalEvalution/Index" ng-click="UpdateUserProgress('psycological')">Psycological Evalution</a></li>

        </ul>
    </div>
    <div class="single">
        <label><img src="~/Content/assets/images/icn_phycological.png" alt="">Pulmonary</label>
        <ul>
            <li><a href="#">Pulmonary Evaluation</a></li>
            <li><a href="#">Sleep study</a></li>
            <li><a href="#">Pulmonary function test</a></li>
            <li><a href="#">Chest x-ray</a></li>
            <li><a href="#">Pulmonologist Clearance</a></li>
        </ul>
    </div>
    <div class="single">
        <label><img src="~/Content/assets/images/icn_blood_work.png" alt="">Pulmonary</label>
        <ul>
            <li><a href="#">Pulmonary Evaluation</a></li>
            <li><a href="#">Sleep study</a></li>
            <li><a href="#">Pulmonary function test</a></li>
            <li><a href="#">Chest x-ray</a></li>
            <li><a href="#">Pulmonologist Clearance</a></li>
        </ul>
    </div>
</div>