<div class="gallery">
    <h1 class="text-center">Surgical <span>Weight Loss</span> Gallery</h1>
    <img src="~/Content/assets/images/section_bg.png" alt="">
</div>

<div class="sep col-sm-12"></div>