<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0">
	<notifications newPostNotificationTemplateId="ef7b9791-6bec-64ec-94af-ff00008617fc" newThreadNotificationTemplateId="f07b9791-6bec-64ec-94af-ff00008617fc" />
</forumsConfig>