<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0" projectName="patient" dateCreated="2016-10-01 14:02:23Z">
	<defaultSite id="b5cc57bf-bcd5-48c9-a8a5-3e0a24bd76b6" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" />
</projectConfig>