<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0" projectName="Hospital" dateCreated="2016-09-23 23:05:59Z">
	<defaultSite id="cb0423af-3288-43a6-bc69-314adc162e60" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" />
</projectConfig>