@model SitefinityWebApp.Mvc.Models.PageMockModel


<div class="text-center">

    <h1 style="line-height:1.5;">
        @Html.Raw(Model.Message)<br />

    </h1>
    <p style="letter-spacing: 0.5px;">*schedule this appointment right away *</p>
    <h3>Select any <u>one</u> of the cardiology providers below</h3>
    <div class="row">
        <div class="col-md-12">
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,
                and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident,
                 sometimes on purpose (injected humour and the like).
            </p>
        </div>
    </div>
</div>