<footer>
    <div class="bluesep"></div>
    <div class="ftr ">
        <div class="footermenus">
            <div class="col-sm-2">
                <span>Our Services</span>
                <ul>
                    <li><a href="#">Find A Phsiciyn</a></li>
                    <li><a href="#">Bariatrics</a></li>
                    <li><a href="#">Behaviour health Services</a></li>
                    <li><a href="#">Bloodless Medicine and Sergery</a></li>
                    <li><a href="#">Cancer Care</a></li>
                    <li><a href="#">Dermatology</a></li>
                    <li><a href="#">Emergency & Truma</a></li>
                    <li><a href="#">Heart & Vasclar Care</a></li>
                    <li><a href="#">Imaging & Radiology</a></li>
                    <li><a href="#">Neurological Services</a></li>
                    <li><a href="#">Orthopaedics</a></li>
                    <li><a href="#">Pain Management</a></li>
                    <li><a href="#">Plastic, Cosmetic and Hand Surgery</a></li>
                    <li><a href="#">Primary Care</a></li>
                    <li><a href="#">Transplant Servces</a></li>
                    <li><a href="#">Urology</a></li>
                    <li><a href="#">Womens Health</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <span>Our Location</span>
                <ul>
                    <li><a href="#">Hahmann University 	Hospital</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <span>Our Stories</span>
                <ul>
                    <li><a href="#">Devon's Story</a></li>
                    <li><a href="#">Ivy's Story</a></li>
                    <li><a href="#">Scott and Dwight: A transplant Story</a></li>
                    <li><a href="#">Share Your Story</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <span>For Patients</span>
                <ul>
                    <li><a href="#">health Risk Assesments</a></li>
                    <li><a href="#">Insurance and Financial Support</a></li>
                    <li><a href="#">Legal and Ethical Decisions</a></li>
                    <li><a href="#">Maps & Directions</a></li>
                    <li><a href="#">Mobile App</a></li>
                    <li><a href="#">Online Bill Pay</a></li>
                    <li><a href="#">Patient Portal</a></li>
                    <li><a href="#">Registration</a></li>
                    <li><a href="#">Request Madical Records</a></li>
                    <li><a href="#">Share Your Story</a></li>
                    <li><a href="#">Staff Recognition</a></li>
                    <li><a href="#">Support Groups</a></li>
                    <li><a href="#">What to Bring/What not to Bring</a></li>
                    <li><a href="#">What to Export</a></li>
                    <li><a href="#">Your Patient Rights</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <span>For Family & Visitors</span>
                <ul>
                    <li><a href="#">Gifts & Support</a></li>
                    <li><a href="#">Maps & Directions</a></li>
                    <li><a href="#">Nearby Hotels & Restaurants</a></li>
                    <li><a href="#">Share Your Story</a></li>
                    <li><a href="#">Staff Recognition</a></li>
                    <li><a href="#">Visitation Rights</a></li>
                    <li><a href="#">What to Bring/What not to Bring</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <span>For Health Professional</span>
                <ul>
                    <li><a href="#">Education & Trainning</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Physical Portal</a></li>
                </ul>
            </div>
        </div>
        <div class="links">
            <div class="pull-left"> <a href="#">Disclaimers</a>&nbsp; | &nbsp;<a href="#">Sitemap</a> <span>&copy; Hahnemann University Hospital 2016, All rights Reserved</span> </div>
            <div class="pull-right">
                <p>
                    <span class="phone">(215) 762-7000</span> <span class="add">
                        230 N Broad St<br>
                        Philadelphia, PA 19102
                    </span>
                </p>
                <a href="#"><img src="~/Content/assets/images/footer_logo.png" alt=""></a>
            </div>
        </div>
    </div>
</footer>