<div class="container-fluid">
    <h1 class="text-center">Join a <span>Community and </span> Stay <span>Connected</span></h1>
    <p class="centerpara">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    <div class="socialmedia">
        <div class="col-xs-4">
            <a href="#">
                <span> <img src="~/Content/assets/images/icn_facebook.png" alt=""> </span>
                <label>Link us on facebook</label>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#">
                <span> <img src="~/Content/assets/images/icn_youtube.png" alt=""> </span>
                <label>Watch us on You Tube</label>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#">
                <span> <img src="~/Content/assets/images/icn_twitter.png" alt=""> </span>
                <label>Connect on Twitter</label>
            </a>
        </div>
    </div>
</div>