@model SitefinityWebApp.Mvc.Models.AuthorizationModel

<div>
    Authorization Url: @Html.Raw(Model.AuthorizationUrl)
</div>
<div>
    Un Authorization Url:  @Html.Raw(Model.UnauthorizationUrl)
</div>