body {
}
@media only screen and (max-width:992px){
    .m_top_100{
        margin-top:0px;
    }
     .user-caption{
        width: 115px !important;
    top: 90px !important;
}
    .user-profile img{
       max-width: 125px !important;
    max-height: 125px !important;
    width:125px !important;
    height:125px !important;
}
    .save-cancel{
          text-align: left !important;
    padding-right: 10px !important;
    }
}

@media only screen and (max-width:767px){
    .patient-div{
        margin-left:15px;
        margin-right:15px;
    }
}
@media only screen and (min-width:768px) and (max-width:992px){
    .user-caption{
        width:115px !important;
        top:95px !important;
    }
      .user-profile img{
   
}
}
@media only screen and (min-width:380px) and (max-width: 767px)  {
     .user-caption{
        width: 115px !important;
    top: 90px !important;
}
       /*.user-profile img{
   max-width:120px !important;
}*/
}