@{
    Layout = "~/Mvc/Views/Shared/Layout.cshtml";
}

<link href="~/Mvc/Content/widgets/home/css/welcome.css" rel="stylesheet" />
<script src="~/Mvc/Content/widgets/home/js/welcomeCtrl.js"></script>

<div class="page-wrapper" ng-controller="welcomeCtrl">
    <div>
        <!-- Page Conetnt Start -->
        <div id="dialog_CareGiver" title="Someone to support your journey" style="display:none;">
            <div class="addedit-box">
                <br />
                <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Do you want to add a Care Giver?</p>
                <div class="Buttons" style="padding-top:20px;" align="center">
                    <input type="button" class="delete-button" id="btnDelete" value="Yes" data-ng-click="Yes()" style="margin-right:12px;" />
                    <input type="button" class="cancel-button" id="btnCancel" value="No" data-ng-click="No()" />
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="content-wrapper">
            <div class="banner">
                <div class="container"> <img src="~/Content/assets/images/banner_3.png" alt=""> </div>
            </div>

            <div class="container">
                <div class="col-sm-4 col-md-3">
                    <div class="sidebarsection">
                        <div class="headerimg">MY Journey</div>

                        <div class="single">
                            <label><img src="~/Content/assets/images/icn_program.png" alt="">Program</label>
                            <ul>

                                <li id="bloodworkli"><a href="~/bloodwork/Index" id="bloodwork" ng-click="UpdateUserProgress('bloodwork')">Blood Work</a></li>
                                <li id="nutritionli"><a href="#" id="nutrition" ng-click="UpdateUserProgress('nutrition')">Nutrition Counseling</a></li>
                                <li id="suprtgroupli"><a href="#" id="suprtgroup" ng-click="UpdateUserProgress('suprtgroup')">Support Group( 2 mandatory)</a></li>
                            </ul>
                        </div>
                        <div class="single">
                            <label><img src="~/Content/assets/images/icn_pulmonary.png" alt="">Pulmonary</label>
                            <ul>
                                <li id="pulmonaryli"><a href="~/pulmonary/Index" id="pulmonaryeve" ng-click="UpdateUserProgress('pulmonaryeve')">Pulmonary Evaluation</a></li>
                                <li id="sleepstudyli"><a href="~/pulmonary/Sleep" ng-click="UpdateUserProgress('sleep')">Sleep study</a></li>
                                <li id="pulmonaryfunctionli"><a href="~/pulmonary/functiontest" ng-click="UpdateUserProgress('function')">Pulmonary function test</a></li>
                                <li id="chestxryli"><a href="~/pulmonary/chestxray" id="chestxry" ng-click="UpdateUserProgress(chestxry)"> Chest x-ray</a></li>
                                <li id="pulmonologistclrli"><a href="~/pulmonary/clearance" ng-click="UpdateUserProgress('clearance')">Pulmonologist Clearance</a></li>
                            </ul>

                        </div>
                        <div class="single">
                            <label><img src="~/Content/assets/images/icn_gastrointestinal.png" alt="">Gastrointestinal</label>
                            <ul>
                                <li><a href="~/pulmonary/Index">Pulmonary Evaluation</a></li>
                                <li><a href="~/pulmonary/Sleep">Sleep study</a></li>
                                <li><a href="#">Pulmonary function test</a></li>
                                <li><a href="~/pulmonary/chestxray">Chest x-ray</a></li>
                                <li><a href="#">Pulmonologist Clearance</a></li>
                            </ul>
                        </div>
                        <div class="single">
                            <label><img src="~/Content/assets/images/icn_cardiology.png" alt="">Pulmonary</label>
                            <ul>
                                <li id="cardiologyli"><a href="~/cardiology/Index" ng-click="UpdateUserProgress('cardiology')">Cardiology Evalution</a></li>
                                <li id="upperli"><a href="~/UpperEndoscopy/Index" ng-click="UpdateUserProgress('upper')">Upper Endoscopy</a></li>
                                <li id="psycologicalli"><a href="~/PsycologicalEvalution/Index" ng-click="UpdateUserProgress('psycological')">Psycological Evalution</a></li>

                            </ul>
                        </div>
                        <div class="single">
                            <label><img src="~/Content/assets/images/icn_phycological.png" alt="">Pulmonary</label>
                            <ul>
                                <li><a href="#">Pulmonary Evaluation</a></li>
                                <li><a href="#">Sleep study</a></li>
                                <li><a href="#">Pulmonary function test</a></li>
                                <li><a href="#">Chest x-ray</a></li>
                                <li><a href="#">Pulmonologist Clearance</a></li>
                            </ul>
                        </div>
                        <div class="single">
                            <label><img src="~/Content/assets/images/icn_blood_work.png" alt="">Pulmonary</label>
                            <ul>
                                <li><a href="#">Pulmonary Evaluation</a></li>
                                <li><a href="#">Sleep study</a></li>
                                <li><a href="#">Pulmonary function test</a></li>
                                <li><a href="#">Chest x-ray</a></li>
                                <li><a href="#">Pulmonologist Clearance</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9">

                    <div class="col-md-12 progress" style="padding-right: 0px!important;background-color:rgb(155, 155, 155);padding-left: 5px!important;height:26px; padding-top: 3px; padding-bottom: 3px;border: 1px solid #eee;border-radius: 20px;">
                        <div class="progress-bar progress-bar-custom progress-bar-striped " role="progressbar" aria-valuenow="70"
                             aria-valuemin="0" aria-valuemax="100" style="width:70%;" id="progr">
                        </div>
                        <span id="per" style="text-align: right; float: right;margin-right: 20px;color:#fff;"></span>
                    </div>




                    <div class="col-sm-8 col-xs-12 pull-left">

                        @if (!string.IsNullOrEmpty(Convert.ToString(Session["usernamesignup"])))
                        {
                            <div class="alert alert-success" style="margin:13px;">
                                <strong></strong><span>@Convert.ToString(Session["usernamesignup"]) Your profile has been successfully created.</span>
                            </div>
                        }
                        @if (ViewBag.Activated != null)
                        {
                            <div class="alert alert-success" style="margin:13px;">
                                <strong></strong><span>Your account has been activated successfully.</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Convert.ToString(Session["UpdateUSer"])))
                        {
                            <div class="alert alert-success" style="margin:13px;">
                                <strong></strong><span>Your profile has been successfully updated.</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Convert.ToString(Session["ChangePassword"])))
                        {
                            <div class="alert alert-success" style="margin:13px;">
                                <strong></strong><span>Your password has been successfully changed.</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Convert.ToString(Request["cg"])))
                        {
                            <div class="alert alert-success" style="margin:13px;">
                                <strong></strong><span>Your account has been successfully created.</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(Convert.ToString(Request["msg"])))
                        {
                            if (Convert.ToString(Request["msg"]) == "CareGiver")
                            {
                                <div class="alert alert-success" style="margin:13px;">
                                    <strong></strong><span>Email sent successfully.</span>
                                </div>
                            }
                        }

                        <h1 class="text-left">
                            You're doing a <span>Great Job!</span><br>
                            There are only a few requirements left
                        </h1>
                        <p>
                            <span class="text-left">Hello steave</span><br>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br>
                            <span class="pull-right text-right">
                                June 3, 2016 11.53am PST<br>
                                Anothony J. Smith, MD, OD
                            </span>
                        </p>

                    </div>
                    <div class="col-sm-4 docphoto"> <img src="~/Content/assets/images/doctor.png" alt=""> </div>
                    <div class="sep col-sm-12"></div>
                    <div class="col-sm-12">
                        <h2 class="pull-left">Upcoming Appoinments</h2>
                        <div class="event">
                            <label class="date col-md-2 col-sm-2"> <span>SEPT</span><span>7</span> </label>
                            <div class="col-md-10 pad0 col-sm-10">
                                <div class="details col-sm-12 col-md-8">
                                    <h3>Psychological Evaluation</h3>
                                    <label>September 7, 2016  11:30am PST</label>
                                    <a href="#"><img src="~/Content/assets/images/icn_pin.png" alt="">Map it</a>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <button type="submit" class="btn  btn-block btn-primary">Message Physician</button>
                                    <button type="submit" class="btn btn-block btn-default">Required Documents</button>
                                </div>
                            </div>
                        </div>
                        <div class="event">
                            <label class="date col-md-2 col-sm-2"> <span>SEPT</span><span>16</span> </label>
                            <div class="col-md-10 pad0 col-sm-10">
                                <div class="details col-sm-12 col-md-8">
                                    <h3>Psychological Evaluation</h3>
                                    <label>September 16, 2016  11:30am PST</label>
                                    <a href="#"><img src="~/Content/assets/images/icn_pin.png" alt="">Map it</a>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <button type="submit" class="btn  btn-block btn-primary">Message Physician</button>
                                    <button type="submit" class="btn btn-block btn-default">Requirement Documents</button>
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="bgshadow"><img src="~/Content/assets/images/boxshadow.png" alt=""></div>
                </div>


            </div>
            <!-- Page Conetnt End -->

        </div>
        <!-- location Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="searchbg">
                            <div class="input-group col-sm-6">
                                <input type="text" class="form-control" placeholder="Result for Pharmacy near me...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><img src="~/Content/assets/images/popup_search.png" alt=""></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-4 pad0">
                            <div class="nearadd">
                                <div class="address">
                                    <label>Discount Medical Pharmacy</label>
                                    <span>Pharmacy</span> <span>2716 Griffith Park Blvd</span> <span>(323) 661-8366</span>
                                    <label> Open until<span>6.30 PM</span></label>
                                </div>
                                <div class="btngroup">
                                    <a href="#"><img src="~/Content/assets/images/icn_world.png" alt="">Website</a> <a href="#">
                                        <img src="~/Content/assets/images/icn_direction.png" alt="">Directions
                                    </a>
                                </div>
                            </div>
                            <div class="nearadd">
                                <div class="address">
                                    <label>Discount Medical Pharmacy</label>
                                    <span>Pharmacy</span> <span>2716 Griffith Park Blvd</span> <span>(323) 661-8366</span>
                                    <label> Open until<span>6.30 PM</span></label>
                                </div>
                                <div class="btngroup">
                                    <a href="#"><img src="~/Content/assets/images/icn_world.png" alt="">Website</a> <a href="#">
                                        <img src="~/Content/assets/images/icn_direction.png" alt="">Directions
                                    </a>
                                </div>
                            </div>
                            <div class="nearadd">
                                <div class="address">
                                    <label>Discount Medical Pharmacy</label>
                                    <span>Pharmacy</span> <span>2716 Griffith Park Blvd</span> <span>(323) 661-8366</span>
                                    <label> Open until<span>6.30 PM</span></label>
                                </div>
                                <div class="btngroup">
                                    <a href="#"><img src="~/Content/assets/images/icn_world.png" alt="">Website</a>
                                    <a href="#"><img src="~/Content/assets/images/icn_direction.png" alt="">Directions</a>
                                </div>
                            </div>
                            <div class="nearadd">
                                <div class="address">
                                    <label>Discount Medical Pharmacy</label>
                                    <span>Pharmacy</span> <span>2716 Griffith Park Blvd</span> <span>(323) 661-8366</span>
                                    <label> Open until<span>6.30 PM</span></label>
                                </div>
                                <div class="btngroup">
                                    <a href="#"><img src="~/Content/assets/images/icn_world.png" alt="">Website</a>
                                    <a href="#"><img src="~/Content/assets/images/icn_direction.png" alt="">Directions</a>
                                </div>
                            </div>
                            <div class="nearadd">
                                <div class="address">
                                    <label>Discount Medical Pharmacy</label>
                                    <span>Pharmacy</span> <span>2716 Griffith Park Blvd</span> <span>(323) 661-8366</span>
                                    <label> Open until<span>6.30 PM</span></label>
                                </div>
                                <div class="btngroup">
                                    <a href="#"><img src="~/Content/assets/images/icn_world.png" alt="">Website</a>
                                    <a href="#"><img src="~/Content/assets/images/icn_direction.png" alt="">Directions</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="map"><img src="~/Content/assets/images/dummymap.png" alt=""> </div>
                        </div>
                        <div class="modal-footer"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
    $(function () {
        $("#dialog_CareGiver").dialog({
            resizable: false,
            height: 200,
            width: 400,
            modal: true,
            autoOpen: false,

        });
    });
</script>

<script>
    $(document).ready(function () {
        //$('#dialog_CareGiver').parent('div').css('position', 'relative');
        $('#dialog_CareGiver').parent('div').css('z-index', '99999');
        //$("#dialog_CareGiver").dialog("open");

    });

</script>





