
<link href="~/Mvc/Content/widgets/home/css/welcome.css" rel="stylesheet" />
<script src="~/Mvc/Content/widgets/home/js/welcomeCtrl.js"></script>

<div class="" ng-controller="welcomeCtrl">

    <div class="col-md-12 progress" style="padding-right: 0px!important;background-color:rgb(155, 155, 155);padding-left: 5px!important;height:26px; padding-top: 3px; padding-bottom: 3px;border: 1px solid #eee;border-radius: 20px;">
        <div class="progress-bar progress-bar-custom progress-bar-striped " role="progressbar" aria-valuenow="70"
             aria-valuemin="0" aria-valuemax="100" style="width:70%;" id="progr">
        </div>
        <span id="per" style="text-align: right; float: right;margin-right: 20px;color:#fff;"></span>
    </div>




    <div class="col-sm-8 col-xs-12 pull-left">

        @if (!string.IsNullOrEmpty(Convert.ToString(Session["usernamesignup"])))
        {
            <div class="alert alert-success" style="margin:13px;">
                <strong></strong><span>@Convert.ToString(Session["usernamesignup"]) Your profile has been successfully created.</span>
            </div>
        }
        @if (ViewBag.Activated != null)
        {
            <div class="alert alert-success" style="margin:13px;">
                <strong></strong><span>Your account has been activated successfully.</span>
            </div>
        }
        @if (!string.IsNullOrEmpty(Convert.ToString(Session["UpdateUSer"])))
        {
            <div class="alert alert-success" style="margin:13px;">
                <strong></strong><span>Your profile has been successfully updated.</span>
            </div>
        }
        @if (!string.IsNullOrEmpty(Convert.ToString(Session["ChangePassword"])))
        {
            <div class="alert alert-success" style="margin:13px;">
                <strong></strong><span>Your password has been successfully changed.</span>
            </div>
        }
        @if (!string.IsNullOrEmpty(Convert.ToString(Request["cg"])))
        {
            <div class="alert alert-success" style="margin:13px;">
                <strong></strong><span>Your account has been successfully created.</span>
            </div>
        }
        @if (!string.IsNullOrEmpty(Convert.ToString(Request["msg"])))
        {
            if (Convert.ToString(Request["msg"]) == "CareGiver")
            {
                <div class="alert alert-success" style="margin:13px;">
                    <strong></strong><span>Email sent successfully.</span>
                </div>
            }
        }

        <h1 class="text-left">
            You're doing a <span>Great Job!</span><br>
            There are only a few requirements left
        </h1>
        <p>
            <span class="text-left">Hello steave</span><br>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br>
            <span class="pull-right text-right">
                June 3, 2016 11.53am PST<br>
                Anothony J. Smith, MD, OD
            </span>
        </p>

    </div>
    <div class="col-sm-4 docphoto"> <img src="~/Content/assets/images/doctor.png" alt=""> </div>
    <div class="sep col-sm-12"></div>
    <div class="col-sm-12">
        <h2 class="pull-left">Upcoming Appoinments</h2>
        <div class="event">
            <label class="date col-md-2 col-sm-2"> <span>SEPT</span><span>7</span> </label>
            <div class="col-md-10 pad0 col-sm-10">
                <div class="details col-sm-12 col-md-8">
                    <h3>Psychological Evaluation</h3>
                    <label>September 7, 2016  11:30am PST</label>
                    <a href="#"><img src="~/Content/assets/images/icn_pin.png" alt="">Map it</a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                </div>
                <div class="col-sm-12 col-md-4">
                    <button type="submit" class="btn  btn-block btn-primary">Message Physician</button>
                    <button type="submit" class="btn btn-block btn-default">Required Documents</button>
                </div>
            </div>
        </div>
        <div class="event">
            <label class="date col-md-2 col-sm-2"> <span>SEPT</span><span>16</span> </label>
            <div class="col-md-10 pad0 col-sm-10">
                <div class="details col-sm-12 col-md-8">
                    <h3>Psychological Evaluation</h3>
                    <label>September 16, 2016  11:30am PST</label>
                    <a href="#"><img src="~/Content/assets/images/icn_pin.png" alt="">Map it</a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type </p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <button type="submit" class="btn  btn-block btn-primary">Message Physician</button>
                    <button type="submit" class="btn btn-block btn-default">Requirement Documents</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bgshadow"><img src="~/Content/assets/images/boxshadow.png" alt=""></div>
</div>











